#single-story-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 86vh;
}

#single-story-container h3 {
    margin: 30px 0;
}

#single-story-container ul {
    list-style: none;
}

#wrapper {
    min-height: 72vh;
}