header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #F44336;
    color: #FFFFFF;
    padding: 10px;
}

header>nav>ul {
    display: flex;
    justify-content: space-around;
}

header>nav>ul>a {
    margin: 10px;
    color: #FFFFFF;
}

header nav a:hover {
    color: #FFEB3B;
}

footer {
    text-align: center;
    margin-top: 30px;
    background-color: #F44336;
    color: #FFFFFF;
    padding: 10px;
}

