wrapper {
    min-height: 72vh;
}

#div-div {
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style: none;
}

#div-div>div:last-child {
    margin-top: 20px;
}

#div-div>div:last-child h4 {
    margin-top: 10px;
}

#single-comic-container {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

h3 {
    margin: 20px;
    text-align: center;
    font-size: 40px;
}

#single-comic-container>div>img {
    border-radius: 20px;
    margin-right: 20px;
    width: 500px;
}

#single-comic-container>div>ul, #div-div>div:last-child>ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    line-height: 25px;
}
#single-comic-container>div h4 {
    margin: 10px;
}

#st-cm-cont {
    display: flex;
    justify-content: space-around;
}

#error {
    margin-top: 30px;
    text-align: center;
}


