.answer-li {
    margin:4px;
    text-shadow: 0 0.07em #fff;
}

.bla {
    margin-right: 4px;
}

.wrong {
    color: red;
}

.right {
    color: rgb(62, 238, 62);
}

.div-hover:hover {
    color: #009688;
    color:  #f1c40f;
}






  