#wrapper {
    min-height: 96vh;
    text-align: center;
    margin: 0 50px;
    position: relative;
}

#wrapper h1 {
    margin-bottom: 10px;
}
#single-post-wrapper>p {
    margin: 10px;
}

.delete-btn {
    border-radius: 20px;
    padding: 5px;
    font-size: 16px;
    margin: 10px;
    color: #fff;
    width: 110px;
    position: absolute;
    right: 5px;
}

.delete-btn:active {
    transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.hash-tag {
    margin: 10px;
}