#home-container {
    margin-top: 30px;
    min-height: 86vh;
    background-image: url("http://santini.io/perch/resources/marvel-css-animation-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#home-container h2 {
    text-align: center;
}

#home-container p, #home-container>ul>div {
    text-align: center;
}

form {
    text-align: center;
    margin-top: 30px;
}

form input {
    width: 75%;
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
    border: 1px solid #F44336;
}

form .search-type {
    width: 10px;
    margin: 20px;
}

form button {
    padding: 5px 10px;
    background-color: #F44336;
    color: #FFFFFF;
    margin-left: 10px;
    font-size: 18px;
    border-radius: 20px;
}

#characters-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    overflow: auto;
    resize: horizontal;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
}

#characters-list li {
    border: 0 solid #F44336;
    border-radius: 20px;
    color: #FFFFFF;
}

#characters-list li:hover {
    color: #FFFFFF;
    box-shadow: 10px 10px 31px 21px rgba(0,0,0,0.99);
}

#search-results {
    text-align: right;
    margin-top: 20px;
}

#no-results {
    text-align: center;
    height: 400px;
    width: 1000px;
}