#single-character-container {
    margin: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

h3 {
    margin: 20px;
    text-align: center;
    font-size: 40px;
}

#single-character-container>div>img {
    border-radius: 20px;
    margin-right: 20px;
    width: 500px;
}

#single-character-container>div>ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    line-height: 25px;
}
#single-character-container>div h4 {
    margin: 10px;
}

#single-character-container>div>ul a {
    color: #F44336;
    text-decoration: underline;
}

